Repository kaguyabot/Kaguya, pull requests merged in 2021-01, with the labels that each got.

#179 $wallpaper command
  Kaguya/Kaguya/Discord/Commands/Fun/Wallpaper.cs
Labels: commands:fun

#180 Feature/timer service
  Kaguya/Kaguya/Database/Repositories/KaguyaUserRepository.cs
  Kaguya/Kaguya/Global.cs
  Kaguya/Kaguya/Services/IntervaledService.cs
  Kaguya/Kaguya/Services/StatusRotationService.cs
  Kaguya/Kaguya/Services/TimerService.cs
  Kaguya/Kaguya/Startup.cs
  Kaguya/Kaguya/Workers/TimerWorker.cs
Labels: services:game-rotation

#181 Feature/timer service
  Kaguya/Kaguya/Discord/Attributes/CommandAttributes.cs
  Kaguya/Kaguya/Discord/Attributes/Enums/CommandMetadata.cs
  Kaguya/Kaguya/Discord/Attributes/Enums/CommandModule.cs
  Kaguya/Kaguya/Discord/Attributes/Enums/ModuleRestriction.cs
  Kaguya/Kaguya/Discord/Attributes/ExampleAttribute.cs
  Kaguya/Kaguya/Discord/Attributes/InheritMetadataAttribute.cs
  Kaguya/Kaguya/Discord/Attributes/ModuleAttribute.cs
  Kaguya/Kaguya/Discord/Attributes/RestrictionAttribute.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Ban.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Clear.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Filter.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Kick.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Mute.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Role.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/AdminHistory.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/Log.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/Prefix.cs
  Kaguya/Kaguya/Discord/Commands/Exp/Profile.cs
  Kaguya/Kaguya/Discord/Commands/Exp/Rep.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Avatar.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Emotion.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Waifu.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Wallpaper.cs
  Kaguya/Kaguya/Discord/Commands/Games/CrossGamble.cs
  Kaguya/Kaguya/Discord/Commands/Games/FishGame.cs
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/AdjustPoints.cs
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/Blacklist.cs
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/CommandFile.cs
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/PremiumKeyGen.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Help.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Osu.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Ping.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Redeem.cs
  Kaguya/Kaguya/Discord/Commands/Reference/RemindMe.cs
  Kaguya/Kaguya/Discord/DiscordExtensions/DiscordNetExtensions.cs
  Kaguya/Kaguya/Discord/DiscordWorker.cs
  Kaguya/Kaguya/Discord/Options/DiscordConfigurations.cs
  Kaguya/Kaguya/Discord/Parsers/TimeParser.cs
  Kaguya/Kaguya/Exceptions/OsuException.cs
  Kaguya/Kaguya/Exceptions/OsuUserNotFoundException.cs
  Kaguya/Kaguya/Exceptions/TimeParseException.cs
  Kaguya/Kaguya/External/Osu/OsuBase.cs
  Kaguya/Kaguya/External/Osu/OsuData.cs
  Kaguya/Kaguya/External/Osu/OsuRecent.cs
  Kaguya/Kaguya/Global.cs
  Kaguya/Kaguya/KaguyaEvents.cs
  Kaguya/Kaguya/Services/StatusRotationService.cs
  Kaguya/Kaguya/Startup.cs
  Kaguya/Kaguya/Workers/TimerWorker.cs
Labels: core:design, services:game-rotation

#183 Init README.md
  README.md
Labels: core:design, discussion

#186 Feature/colors
  Kaguya/Kaguya/Database/Interfaces/IBlacklistedEntityRepository.cs
  Kaguya/Kaguya/Database/Interfaces/IWordFilterRepository.cs
  Kaguya/Kaguya/Database/Model/AdminAction.cs
  Kaguya/Kaguya/Database/Model/BlacklistedEntity.cs
  Kaguya/Kaguya/Database/Model/Fish.cs
  Kaguya/Kaguya/Database/Repositories/WordFilterRepository.cs
  Kaguya/Kaguya/Discord/Attributes/InheritMetadataAttribute.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Clear.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Filter.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Mute.cs
  Kaguya/Kaguya/Discord/Commands/Administration/Role.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/AdminHistory.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/Log.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/Prefix.cs
  Kaguya/Kaguya/Discord/Commands/Exp/Profile.cs
  Kaguya/Kaguya/Discord/Commands/Exp/Rep.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Avatar.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Emotion.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Waifu.cs
  Kaguya/Kaguya/Discord/Commands/Fun/Wallpaper.cs
  Kaguya/Kaguya/Discord/Commands/Games/CrossGamble.cs
  Kaguya/Kaguya/Discord/Commands/Games/FishGame.cs
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/PremiumKeyGen.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Help.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Osu.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Redeem.cs
  Kaguya/Kaguya/Discord/Commands/Reference/RemindMe.cs
  Kaguya/Kaguya/Discord/DiscordExtensions/DiscordNetExtensions.cs
  Kaguya/Kaguya/Discord/DiscordExtensions/DiscordStrings.cs
  Kaguya/Kaguya/Discord/DiscordExtensions/TimeExtensions.cs
  Kaguya/Kaguya/Discord/KaguyaBase.cs
  Kaguya/Kaguya/Discord/KaguyaColors.cs
  Kaguya/Kaguya/Discord/KaguyaEmbedBuilder.cs
  Kaguya/Kaguya/Discord/Memory/ActiveMultiplayerSessions.cs
  Kaguya/Kaguya/Discord/Parsers/TimeParser.cs
  Kaguya/Kaguya/Exceptions/ColorParseException.cs
  Kaguya/Kaguya/External/Osu/OsuBase.cs
  Kaguya/Kaguya/External/Osu/OsuRecent.cs
  Kaguya/Kaguya/Migrations/KaguyaDbContextModelSnapshot.cs
  Kaguya/Kaguya/Program.cs
  Kaguya/Kaguya/Services/FishService.cs
  Kaguya/Kaguya/Services/Recurring/StatusRotationService.cs
  Kaguya/Kaguya/Startup.cs
  Kaguya/Kaguya/Workers/DiscordWorker.cs
  Kaguya/Kaguya/Workers/TimerWorker.cs
  Kaguya/KaguyaTests/TestWordFilterCaseInSensitive.cs
  Kaguya/KaguyaTests/TestWordFilterCaseSensitive.cs
Labels: core:design

#197 Feature/antiraid setup cmd
  Kaguya/Kaguya/Database/Repositories/AntiraidConfigRepository.cs
  Kaguya/Kaguya/Discord/Commands/Configuration/Antiraid.cs
Labels: commands:configuration, core:database-change, size/M

#199 Feature/antiraid msgcmds
  Kaguya/Kaguya/Discord/Commands/Configuration/Antiraid.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Help.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Redeem.cs
  Kaguya/Kaguya/Discord/Parsers/UriParser.cs
  Kaguya/Kaguya/Global.cs
  Kaguya/Kaguya/Internal/Attributes/ExampleAttribute.cs
  Kaguya/Kaguya/Internal/Enums/ExampleStringFormat.cs
  Kaguya/Kaguya/Kaguya.csproj
Labels: commands:configuration, size/L

#203 "Users" to "unique interactions"
  Kaguya/Kaguya/Internal/Services/Recurring/StatusRotationService.cs
Labels: services:status-rotation, size/XS

#201 Feature/system dm
  Kaguya/Kaguya/Discord/Commands/OwnerOnly/SendSystemMessage.cs
Labels: commands:owner-only, size/M

#202 $emotion modifications
  Kaguya/Kaguya/Discord/Commands/Fun/Emotion.cs
Labels: commands:fun, size/XS

#204 Feature/premium icon helpcmd
  Kaguya/Kaguya/Discord/Commands/Administration/Role.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Help.cs
Labels: commands:admin, commands:reference, size/M

#209 Updated Dockerfile
  Dockerfile
Labels: size/XS

#210 Feature/music commands
  Kaguya/Kaguya/Discord/Commands/Music/Queue.cs
  Kaguya/Kaguya/Discord/Commands/Music/Skip.cs
  Kaguya/Kaguya/Discord/Commands/Music/Volume.cs
Labels: commands:music, size/M

#216 Feature/music commands
  Kaguya/Kaguya/Discord/Commands/Music/Play.cs
  Kaguya/Kaguya/Discord/Commands/Music/Search.cs
  Kaguya/Kaguya/Discord/Commands/Reference/Invite.cs
  Kaguya/Kaguya/External/Osu/OsuRecent.cs
  Kaguya/Kaguya/Global.cs
  Kaguya/Kaguya/Internal/Music/AudioQueueLocker.cs
  Kaguya/Kaguya/Startup.cs
Labels: commands:music, size/M

#221 Added $hex command for testing hex colors
  Kaguya/Kaguya/Discord/Commands/Reference/Hex.cs
Labels: size/M

#223 Feature/hex
  Kaguya/Kaguya/Discord/Commands/Reference/Hex.cs
Labels: commands:reference, size/L

#225 Error handling for if osu api key is null
  Kaguya/Kaguya/Startup.cs
Labels: core:bug-fix, size/S

#224 Search message modified
  Kaguya/Kaguya/Discord/Commands/Music/Play.cs
  Kaguya/Kaguya/Discord/Commands/Music/Search.cs
  Kaguya/Kaguya/Discord/Overrides/Extensions/KaguyaInteractivityExtensions.cs
  Kaguya/Kaguya/Discord/Overrides/KaguyaReactionSelection.cs
  Kaguya/Kaguya/Discord/Overrides/KaguyaReactionSelectionBuilder.cs
  Kaguya/Kaguya/Internal/Music/AudioService.cs
  Kaguya/Kaguya/Kaguya.csproj
Labels: commands:music, core:design, size/L
